.staff .group #ruleexpression {
  font-family: monospace;
  width: 100%;
}
.groups-dynamic-groups {
  grid-column-start: 1;
  grid-column-end: 3;

  .success-bar {
    color: #fff;
    background-color: #28a745; /* Green */
    padding: 10px;
    margin-top: 10px;
  }

  .error-bar {
    color: #fff;
    background-color: #dc3545; /* Red */
    padding: 10px;
    margin-top: 10px;
  }
}

